.section.brands
	.brands__center.center
		.brands__wrap
			.brands__list
				.brands__item
					img(src="img/content/rotashow.svg" alt="Brand")
				.brands__item
					img(src="img/content/waves.png" alt="Brand")
				.brands__item
					img(src="img/content/velocity9.svg" alt="Brand")
				.brands__item
					img(src="img/content/travelers.png" alt="Brand")
				.brands__item
					img(src="img/content/goldlines.svg" alt="Brand")
				.brands__item
					img(src="img/content/rotashow.svg" alt="Brand")