.section.faq1.js-tabs
	.faq1__center.center
		.faq1__top
			h2.faq1__title.h2 Frequently asked questions
			.nav
				a.nav__link.active(href="#") General
				a.nav__link(href="#") Support
				a.nav__link(href="#") Hosting
				a.nav__link(href="#") Product
			select.select
				option General
				option Support
				option Hosting
				option Product
		.faq1__list
			.faq1__item
				.faq1__head
					.faq1__number 01
					.faq1__subtitle How does it work?
					.faq1__arrow
						+i('arrow-bottom')
				.faq1__body The Stacks series of products: Stacks: Landing Page Kit, Stacks: Portfolio Kit,  Stacks: eCommerce Kit. "Stacks is a production-ready library of stackable content blocks built in React Native. Mix-and-match dozens of responsive elements to quickly configure your favorite landing page layouts or hit the ground running with 10 pre-built templates, all in light or dark mode." 
			.faq1__item
				.faq1__head
					.faq1__number 02
					.faq1__subtitle How can i set up a new website?
					.faq1__arrow
						+i('arrow-bottom')
				.faq1__body The Stacks series of products: Stacks: Landing Page Kit, Stacks: Portfolio Kit,  Stacks: eCommerce Kit. "Stacks is a production-ready library of stackable content blocks built in React Native. Mix-and-match dozens of responsive elements to quickly configure your favorite landing page layouts or hit the ground running with 10 pre-built templates, all in light or dark mode." 
			.faq1__item
				.faq1__head
					.faq1__number 03
					.faq1__subtitle How does it work?
					.faq1__arrow
						+i('arrow-bottom')
				.faq1__body The Stacks series of products: Stacks: Landing Page Kit, Stacks: Portfolio Kit,  Stacks: eCommerce Kit. "Stacks is a production-ready library of stackable content blocks built in React Native. Mix-and-match dozens of responsive elements to quickly configure your favorite landing page layouts or hit the ground running with 10 pre-built templates, all in light or dark mode." 
			.faq1__item
				.faq1__head
					.faq1__number 04
					.faq1__subtitle How does it work?
					.faq1__arrow
						+i('arrow-bottom')
				.faq1__body The Stacks series of products: Stacks: Landing Page Kit, Stacks: Portfolio Kit,  Stacks: eCommerce Kit. "Stacks is a production-ready library of stackable content blocks built in React Native. Mix-and-match dozens of responsive elements to quickly configure your favorite landing page layouts or hit the ground running with 10 pre-built templates, all in light or dark mode." 
			.faq1__item
				.faq1__head
					.faq1__number 05
					.faq1__subtitle How does it work?
					.faq1__arrow
						+i('arrow-bottom')
				.faq1__body The Stacks series of products: Stacks: Landing Page Kit, Stacks: Portfolio Kit,  Stacks: eCommerce Kit. "Stacks is a production-ready library of stackable content blocks built in React Native. Mix-and-match dozens of responsive elements to quickly configure your favorite landing page layouts or hit the ground running with 10 pre-built templates, all in light or dark mode." 
				