.section.live
	.live__center.center
		.live__head
			h2.live__title.h2=liveTitle 
			.live__info.info Keep calm & travel on
		.live__wrapper
			.live__slider.js-slider-live.js-slider-resize
				a.live__item(href="stays-category.html")
					.live__preview
						img(srcSet="img/content/live-pic-1@2x.png 2x" src="img/content/live-pic-1.png" alt="Live")
					.live__subtitle Enjoy the great cold
					.live__content 6,879 properties
				a.live__item(href="stays-category.html")
					.live__preview
						img(srcSet="img/content/live-pic-2@2x.png 2x" src="img/content/live-pic-2.png" alt="Live")
					.live__subtitle Pick up the earliest sunrise
					.live__content 9,849 properties
				a.live__item(href="stays-category.html")
					.live__preview
						img(srcSet="img/content/live-pic-3@2x.png 2x" src="img/content/live-pic-3.png" alt="Live")
					.live__subtitle Unique stay
					.live__content 12,879 properties
				a.live__item(href="stays-category.html")
					.live__preview
						img(srcSet="img/content/live-pic-2@2x.png 2x" src="img/content/live-pic-2.png" alt="Live")
					.live__subtitle Enjoy the great cold
					.live__content 6,879 properties
				a.live__item(href="stays-category.html")
					.live__preview
						img(srcSet="img/content/live-pic-1@2x.png 2x" src="img/content/live-pic-1.png" alt="Live")
					.live__subtitle Pick up the earliest sunrise
					.live__content 9,849 properties
				a.live__item(href="stays-category.html")
					.live__preview
						img(srcSet="img/content/live-pic-3@2x.png 2x" src="img/content/live-pic-3.png" alt="Live")
					.live__subtitle Unique stay
					.live__content 12,879 properties
		.live__btns
			button.button-stroke.button-small.live__button
				+loader
				span Load more
