.section.newsletter
	.newsletter__center.center
		.newsletter__wrap
			h2.newsletter__title.h2 Join our newsletter 🎉
			.newsletter__info Stacks is a production-ready library of stackable content blocks built in React Native.
			.newsletter__list
				.newsletter__item
					.newsletter__number(style="background-color: #58C27D;") 01
					.newsletter__text Get more discount
				.newsletter__item
					.newsletter__number(style="background-color: #92A5EF;") 01
					.newsletter__text Get premium travel magazine
			+subscription("email", "email", "Enter your email", "arrow-next")
		.newsletter__gallery
			.newsletter__preview
				img.some-icon(srcSet="img/content/newsletter-pic-1@2x.png 2x" src="img/content/newsletter-pic-1.png" alt="Newsletter")
				img.some-icon-dark(srcSet="img/content/newsletter-pic-dark-1@2x.png 2x" src="img/content/newsletter-pic-dark-1.png" alt="Newsletter")
			.newsletter__preview
				img.some-icon(srcSet="img/content/newsletter-pic-2@2x.png 2x" src="img/content/newsletter-pic-2.png" alt="Newsletter")
				img.some-icon-dark(srcSet="img/content/newsletter-pic-dark-2@2x.png 2x" src="img/content/newsletter-pic-dark-2.png" alt="Newsletter")
			.newsletter__preview
				img.some-icon(srcSet="img/content/newsletter-pic-3@2x.png 2x" src="img/content/newsletter-pic-3.png" alt="Newsletter")
				img.some-icon-dark(srcSet="img/content/newsletter-pic-dark-3@2x.png 2x" src="img/content/newsletter-pic-dark-3.png" alt="Newsletter")
			.newsletter__preview
				img.some-icon(srcSet="img/content/newsletter-pic-4@2x.png 2x" src="img/content/newsletter-pic-4.png" alt="Newsletter")
				img.some-icon-dark(srcSet="img/content/newsletter-pic-dark-4@2x.png 2x" src="img/content/newsletter-pic-dark-4.png" alt="Newsletter")
			


		