div(class=classPlanning)
	.planning__center.center
		.planning__wrap
			.stage supercharge your planning powers
			h2.planning__title.h2=planningTitle
			.planning__info Stacks is a production-ready library of stackable content blocks built in React Native.
			+subscription("tel", "phone", "Enter your phone number", "arrow-next")
		.planning__gallery
			.planning__preview
				img.some-icon(srcSet="img/content/planning-pic-1@2x.png 2x" src="img/content/planning-pic-1.png" alt="Planning")
				img.some-icon-dark(srcSet="img/content/planning-pic-dark-1@2x.png 2x" src="img/content/planning-pic-dark-1.png" alt="Planning")
			.planning__preview
				img.some-icon(srcSet="img/content/planning-pic-2@2x.png 2x" src="img/content/planning-pic-2.png" alt="Planning")
				img.some-icon-dark(srcSet="img/content/planning-pic-dark-2@2x.png 2x" src="img/content/planning-pic-dark-2.png" alt="Planning")
			.planning__preview
				img.some-icon(srcSet="img/content/planning-pic-3@2x.png 2x" src="img/content/planning-pic-3.png" alt="Planning")
				img.some-icon-dark(srcSet="img/content/planning-pic-dark-3@2x.png 2x" src="img/content/planning-pic-dark-3.png" alt="Planning")