.reviews
	.reviews__head
		.reviews__title 2 reviews
		.nav
			a.nav__link.active(href='#') Review about you
			a.nav__link(href='#') Reviews by you
	.reviews__group
		.reviews__item
			.reviews__avatar
				img(src="img/content/avatar-1.jpg" alt="Avatar")
			.reviews__details
				.reviews__author Tobin Hackett
				.reviews__content I enjoyed my communication with them and wish them only the best!
				.reviews__foot
					.reviews__time about 1 hour ago
					.reviews__actions
						button.reviews__action Like
						button.reviews__action Reply
		.reviews__item
			.reviews__avatar
				img(src="img/content/avatar-3.jpg" alt="Avatar")
			.reviews__details
				.reviews__author Myrtie Runolfsson
				.reviews__content Kohaku and her husband were great guests. I enjoyed my communication with them and wish them only the best!
				.reviews__foot
					.reviews__time 1 day ago
					.reviews__actions
						button.reviews__action Like
						button.reviews__action Reply