.section.services
	.services__center.center
		.services__head
			.stage A creative agency that lead and inspire
			h2.services__title.h2 Amazing Services
			button.button.services__button Contact Us
		.services__list
			.services__item
				.services__icon
					img(src="img/content/smile.svg" alt="Service")
				.services__subtitle 1+M reviewers
				.services__content We realize ideas from simple to complex, everything becomes easy to use and reach the most potential customers.
			.services__item
				.services__icon
					img(src="img/content/lightning.svg" alt="Service")
				.services__subtitle 24/7 customer service
				.services__content We realize ideas from simple to complex, everything becomes easy to use and reach the most potential customers.
			.services__item
				.services__icon
					img(src="img/content/gift.svg" alt="Service")
				.services__subtitle Free cancellation
				.services__content We realize ideas from simple to complex, everything becomes easy to use and reach the most potential customers.
