.section.view
	.view__center.center
		.view__head
			.view__details
				.view__stage fleet travel ui kit
				h2.view__title.h2 Book a ticket <br>and just leave
			a.button.view__button(href="flights-category.html") Book now
		.view__body
			a.view__preview.js-open-phone(data-fancybox href="https://www.youtube.com/watch?v=BHACKCNDMW8")
				img(src="img/content/video-bg.jpg" alt="Video")
				button.play
					+i('play')


		