---
title: Fleet
classHeader: header_border
classThingsToDo: active
---
extends layouts/layout
block content
	.section-mb80.complete.complete_tasks
		.complete__center.center
			.control
				a.button-stroke.button-small.control__button(href="checkout.html")
					+i('arrow-left')
					span Go home
				ul.breadcrumbs
					li.breadcrumbs__item
						a.breadcrumbs__link(href="product.html") Things to do
					li.breadcrumbs__item
						a.breadcrumbs__link(href="checkout.html") Confirm and pay
					li.breadcrumbs__item Checkout completed
			.complete__row
				.complete__col
					.complete__head
						h2.complete__title.h2 Congratulation!
						.complete__info You trip has been booked! 🎉
						.complete__subtitle Premium milford sound tour ex queenstown
						.complete__author
							span Hosted by
							.complete__avatar
								img(src="img/content/avatar.jpg" alt="Avatar")
							.complete__man Zoe Towne
					.complete__line
						.complete__rating
							+i('star')
							.complete__number 4.8
							.complete__reviews (256 reviews)
						.complete__parameters
							.complete__parameter
								+i('user')
								| Best tour guide
							.complete__parameter
								+i('flag')
								| Queenstown, New Zealand
					.complete__list
						.complete__item
							.complete__icon(style="border-color: #92A5EF;")
								+i('clock')
							.complete__details
								.complete__category Date
								.complete__value May 15, 2021
						.complete__item
							.complete__icon(style="border-color: #FA8F54;")
								+i('user')
							.complete__details
								.complete__category Guests
								.complete__value 1 guest
					.complete__stage Booking details
					.complete__table
						.complete__flex
							.complete__cell
								+i('hand-cart')
								| Booking code:
							.complete__cell UI8_150989
						.complete__flex
							.complete__cell
								+i('calendar')
								| Date:
							.complete__cell 30 Apr, 2021
						.complete__flex
							.complete__cell
								+i('receipt')
								| Total:
							.complete__cell $256
						.complete__flex
							.complete__cell
								+i('wallet')
								| Payment method:
							.complete__cell Credit card
					a.button-stroke.complete__button(href="things-to-do.html") Thing to do
				.complete__col
					.complete__wrapper
						.complete__slider.js-slider-complete
							.complete__preview
								img(srcSet="img/content/slider-pic-3@2x.jpg 2x" src="img/content/slider-pic-3.jpg" alt="Complete")
							.complete__preview
								img(srcSet="img/content/slider-pic-3@2x.jpg 2x" src="img/content/slider-pic-3.jpg" alt="Complete")
							.complete__preview
								img(srcSet="img/content/slider-pic-3@2x.jpg 2x" src="img/content/slider-pic-3.jpg" alt="Complete")
				