---
title: Fleet
classHeader: header_border
classStays: active
---
extends layouts/layout
block content
	.section-mb80.product.product_photo
		.product__center.center
			.product__head
				.product__box
					h2.product__title.h2 Spectacular views of Queenstown
					.product__line
						.product__avatar
							img(src="img/content/avatar-1.jpg" alt="Avatar")
						.product__rating
							+i('star')
							.product__number 4.8
							.product__reviews (256 reviews)
						.product__options
							.product__option
								+i('home')
								| Superhost
							.product__option
								+i('flag')
								| Queenstown, Otago, New Zealand
				+actions
			.product__grid
				.product__photo
					img(src="img/content/photo-2.1.jpg" alt="Nature")
				.product__photo
					img(src="img/content/photo-2.2.jpg" alt="Nature")
				.product__photo
					img(src="img/content/photo-2.3.jpg" alt="Nature")
				.product__photo
					img(src="img/content/photo-2.4.jpg" alt="Nature")
				.product__photo
					img(src="img/content/photo-2.5.jpg" alt="Nature")
				.product__photo
					img(src="img/content/photo-2.6.jpg" alt="Nature")
				.product__photo
					img(src="img/content/photo-2.7.jpg" alt="Nature")
				.product__photo
					img(src="img/content/photo-2.8.jpg" alt="Nature")
				.product__photo
					img(src="img/content/photo-2.9.jpg" alt="Nature")
			.product__foot
				a.button-circle-stroke.button-small.product__button(href="stays-product.html")
					+i('close')
			