---
title: Fleet
---
extends layouts/layout
block content
	.center
		ul(style="padding: 50px 0; font-size: 16px;")
			li(style="margin-bottom: 5px;")
				a(href="index.html") Stays
			li(style="margin-bottom: 5px;")
				a(href="stays-category.html") Stays category
			li(style="margin-bottom: 5px;")
				a(href="stays-product.html") Stays product
			li(style="margin-bottom: 5px;")
				a(href="stays-checkout.html") Stays checkout
			li(style="margin-bottom: 5px;")
				a(href="stays-checkout-complete.html") Stays checkout complete
			li(style="margin-bottom: 5px;")
				a(href="full-photo-grid.html") Full photo grid
			li(style="margin: 35px 0 5px;")
				a(href="flights.html") Flights
			li(style="margin-bottom: 5px;")
				a(href="flights-category.html") Flights category
			li(style="margin: 35px 0 5px;")
				a(href="things-to-do.html") Things to do
			li(style="margin-bottom: 5px;")
				a(href="category.html") Category
			li(style="margin-bottom: 5px;")
				a(href="product.html") Product
			li(style="margin-bottom: 5px;")
				a(href="checkout.html") Checkout
			li(style="margin-bottom: 5px;")
				a(href="checkout-complete.html") Checkout complete
			li(style="margin: 35px 0 5px;")
				a(href="cars.html") Cars
			li(style="margin-bottom: 5px;")
				a(href="cars-category.html") Cars category
			li(style="margin-bottom: 5px;")
				a(href="cars-category-2.html") Cars category 2
			li(style="margin-bottom: 5px;")
				a(href="cars-product.html") Cars product
			li(style="margin-bottom: 5px;")
				a(href="cars-checkout.html") Cars checkout
			li(style="margin-bottom: 5px;")
				a(href="cars-checkout-complete.html") Cars checkout complete
			li(style="margin: 35px 0 5px;")
				a(href="support.html") Support
			li(style="margin-bottom: 5px;")
				a(href="host-profile.html") Host profile
			li(style="margin-bottom: 5px;")
				a(href="profile.html") Profile
			li(style="margin-bottom: 5px;")
				a(href="account-setting.html") Account setting
			li(style="margin-bottom: 5px;")
				a(href="message-center.html") Message Center
			li(style="margin-bottom: 5px;")
				a(href="wishlists.html") Wishlists
			li(style="margin-bottom: 5px;")
				a(href="your-trips.html") Your trips
			li(style="margin-bottom: 5px;")
				a(href="bookings.html") Bookings
			li(style="margin-bottom: 5px;")
				a(href="list-your-property.html") List your property