---
title: Fleet
---
extends layouts/layout
block content
	.user
		include partials/background
		.user__body
			.user__center.center
				.profile
					.profile__main
						.profile__avatar
							img(src="img/content/avatar-girl.jpg" alt="Avatar")
						a.profile__update.js-popup-open(href="#popup-avatars" data-effect="mfp-zoom-in")
							+i('pencil')
							| Update avatar
						.profile__man Kohaku Tora
					.profile__body
						.profile__parameters
							.profile__parameter
								+i('tick')
								| Indentity verified
							.profile__parameter
								+i('star-outline')
								| 256 reviews
						a.profile__site(href="https://ui8.net" target="_blank")
							+i('globe')
							| https://ui8.net
						.profile__control
							a.button-stroke.button-small.profile__button(href="message-center.html") Contact
							.actions.js-actions
								.actions__item.actions__item_share.js-actions-item
									button.button-circle-stroke.button-small.actions__button.js-actions-button
										+i('share')
									.actions__body.actions__body_up.js-actions-body
										.actions__title Share link to this page
										.actions__list.share-btn(data-url="https://ui8.net")
											a.actions__link.btn-twitter(data-id="tw")
												span
													+i('twitter')
											a.actions__link.btn-facebook(data-id="fb")
												span
													+i('facebook')
						.profile__socials
							a.profile__social(href="https://twitter.com/ui8" target="_blank")
								+i('twitter')
							a.profile__social(href="https://www.instagram.com/ui8net/" target="_blank")
								+i('instagram')
							a.profile__social(href="https://www.facebook.com/ui8.net/" target="_blank")
								+i('facebook')
						.profile__note Member since Mar 15, 2021
						button.profile__report
							+i('flag')
							| Report this property
				.user__wrapper
					.user__details
						.user__head
							.user__title Hi, I’m Kohaku Tora
							a.button-stroke.button-small.user__button(href="account-setting.html") Edit your profile
						.user__content Described by Queenstown House & Garden magazine as having 'one of the best views we've ever seen' you will love relaxing in this newly built
						.user__options
							.user__option
								.user__category
									+i('home')
									| Lives in
								.user__text Auckland, New Zealand
							.user__option
								.user__category
									+i('route')
									| Account
								.user__text Verified member
							.user__option
								.user__category
									+i('comment')
									| Speak
								.user__text English, Vietnamese
					include partials/reviews
	.popup.popup_avatars.mfp-hide#popup-avatars
		.avatars
			.avatars__file
				input.avatars__load(type="file")
				.avatars__icon
					+i('upload-file')
				.avatars__format Drag and drop your photo here
				.avatars__note or click to browse
			.avatars__gallery
				.avatars__info Use Fleet’s default photos
				.avatars__list
					.avatars__item
						img(src="img/content/avatar-variant-1.jpg" alt="Avatar")
					.avatars__item
						img(src="img/content/avatar-variant-2.jpg" alt="Avatar")
					.avatars__item
						img(src="img/content/avatar-variant-3.jpg" alt="Avatar")
					.avatars__item
						img(src="img/content/avatar-variant-4.jpg" alt="Avatar")
					.avatars__item
						img(src="img/content/avatar-variant-5.jpg" alt="Avatar")




